@model Sale
@{
    ViewData["Title"] = "Create sale";
        
}

<h1>Create</h1>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            @if (Model.Product?.ImageFile != null) {
                <img src="@Model.Product.ImageFile.Src" class="card-img-top" alt="@Model.Product.Name">
            }
            <div class="card-body">
                <h5 class="card-title">@Model.Product?.Name</h5>
                <p class="card-text">@Model.Product?.Description</p>
                <h6 class="card-subtitle mb-2 text-muted">Ціна: @Model.Product?.Price</h6>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" min="1" step="1" type="number" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



